<div class="image-btn-bar">
    <button class="image-btn image-btn-space" mat-raised-button (click)="centerImage()" matTooltip="Center Image">
        <mat-icon>center_focus_weak</mat-icon>
    </button>

    <div class="zoom-wrapper">
        <button class="image-btn zoom-btn-out" mat-raised-button (click)="zoomOut()" matTooltip="Zoom Out">
            <mat-icon>remove</mat-icon>
        </button>
        <button class="image-btn zoom-btn-in" mat-raised-button (click)="zoomIn()" matTooltip="Zoom In">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <button [color]="mode === 'invert' ? 'primary' : 'default'" class="image-btn image-btn-space image-btn-invert" mat-raised-button
        (click)="setMode('invert')" matTooltip="Invert Colors">
        <mat-icon>compare</mat-icon>
    </button>
    <button [color]="mode === 'sharpen' ? 'primary' : 'default'" class="image-btn image-btn-space" mat-raised-button
        (click)="setMode('sharpen')" matTooltip="Sharpen">
        <mat-icon>image</mat-icon>
    </button>
    <button [color]="mode === 'histogram' ? 'primary' : 'default'" class="image-btn image-btn-space" mat-raised-button
        (click)="setMode('histogram')" matTooltip="Histogram Equalizer">
        <mat-icon>bar_chart</mat-icon>
    </button>
    <button class="image-btn image-btn-space" mat-raised-button (click)="setMode('none')" matTooltip="Clear Filters">
        <mat-icon>layers_clear</mat-icon>
    </button>
</div>
<pan-zoom [config]="panZoomConfig">
    <canvas id="imageCanvas" #imageCanvas [ngStyle]="{ 'filter': mode === 'invert' ? 'invert(1)' : 'none' }"></canvas>
</pan-zoom>

<div *ngIf="loadError" class="image-error"><mat-error>Error Loading Image</mat-error></div>
