# (C) 2019 The Johns Hopkins University Applied Physics Laboratory LLC.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.26.0"
overrides = "~=6.1.0"
python-json-logger = "~=2.0.2"
bcrypt = "~=3.2.0"
flask = "~=2.0.1"
flask-cors = "~=3.0.10"
redis = "~=3.5.3"
aioredis = "~=2.0.0"
six = "~=1.16.0"
munch = "~=2.5.0"
pebble = "~=4.6.1"
pydash = "~=5.0.2"
pyjwt = "~=2.1.0"
authlib = "~=0.15.4"
matplotlib = "~=3.4.2"
scipy = "~=1.7.1"
tabulate = "~=0.8.9"
multiprocessing-logging = "~=0.3.1"
flask-httpauth = "~=4.4.0"
lxml = "~=4.6.3"

[dev-packages]

[requires]
python_version = "3.8"
