@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-icons/iconfont/material-icons.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light-border.css';

/* make Flex work. */
html,
body,
app-root {
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin: 0px !important;
}

.full-width {
    width: 100%;
}

.btn-short {
    max-height: 36px;
}

.mat-form-field-infix {
    width: auto !important;
}

#loading {
    font-weight: bold;
}

.bordered {
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.cursor-pointer {
    cursor: pointer !important;
}

tr.space-under > td {
    padding-bottom: 1em;
}

td.space-left {
    padding-left: 1em;
}

.form-field {
    width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.annotate-area {
	.annotation, .select {
		-moz-box-shadow: 2px 2px 2px grey;
		-webkit-box-shadow: 2px 2px 2px grey;
		box-shadow: 2px 2px 2px grey;
		
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	
	.select {
		background: rgba(255,255,255,0.4) !important;
	}
	
	.annotationLeft, .selectLeft {
		padding-left: 10px;
	
		border-left: 1px solid black;
		
		-moz-border-top-left-radius: 20px;
		border-top-left-radius: 20px;
		-moz-border-bottom-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	
	.annotationRight, .selectRight {
		padding-right: 10px;
		margin-right: 2px;
		
		border-right: 1px solid black;
		
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}