@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-icons/iconfont/material-icons.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light-border.css';

/* make Flex work. */
html,
body,
app-root {
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin: 0px !important;
}

.full-width {
    width: 100%;
}

.btn-short {
    max-height: 36px;
}

.mat-form-field-infix {
    width: auto !important;
}

#loading {
    font-weight: bold;
}

.bordered {
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.cursor-pointer {
    cursor: pointer !important;
}

tr.space-under > td {
    padding-bottom: 1em;
}

td.space-left {
    padding-left: 1em;
}

.form-field {
    width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
