# (C) 2019 The Johns Hopkins University Applied Physics Laboratory LLC.
[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
backoff = "*"
cython = "*"
multiprocessing-logging = "*"
munch = "*"
pebble = "*"
pydash = "*"
pyjnius = "*"
redis = "*"
spacy = "*"
sklearn = "*"
scikit-multilearn = "*"
python-json-logger = "*"

[requires]
python_version = "3.6"
