.app-toolbar {
    padding-right: 4px;
}

.app-icon {
    margin-right: 10px;
}

app-toolbar-nav {
    margin-left: 24px;
}

.account-icon {
    margin-right: 4px;
}

.logo-img {
    height: 36px;
    margin-right: 12px;
    margin-top: -4px;
}