# (C) 2019 The Johns Hopkins University Applied Physics Laboratory LLC.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eve = "~=1.1.5"
requests = "~=2.26.0"
flask-cors = "~=3.0.10"
python-json-logger = "~=2.0.2"

[dev-packages]

[requires]
python_version = "3.8"
