.user-container {
    min-width: 200px;
    max-width: 280px;
    padding: 10px;
}

.user-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px
}

mat-divider {
    margin-top: 10px;
}

.action-buttons button {
    margin-top: 10px;
}

.user-btn {
    width: 100%;
}
.user-btn mat-icon {
    margin: auto;
}